<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find roboy_simulation)/worlds/Roboy_moveable.world"/>
	<arg name="paused" value="false"/>
	<arg name="use_sim_time" value="true"/>
	<arg name="gui" value="true"/>
	<arg name="headless" value="false"/>
    	<arg name="debug" value="false"/>
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="8888"/>
    </include>
    <node name="VRRoboy2" pkg="roboy_simulation" type="VRRoboy2"/>
</launch>
